/* Fonts */
@font-face {
    font-family: "YekanBakh Light";
    src: url("../fonts/YekanBakh-Light.woff");
}
@font-face {
    font-family: "YekanBakh Regular";
    src: url("../fonts/YekanBakh-Regular.woff");
}
@font-face {
    font-family: "YekanBakh Medium";
    src: url("../fonts/YekanBakh-Medium.woff");
}
@font-face {
    font-family: "YekanBakh Bold";
    src: url("../fonts/YekanBakh-Bold.woff");
}
@font-face {
    font-family: "YekanBakh Heavy";
    src: url("../fonts/YekanBakh-Heavy.woff");
}

/* Reset Css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button{
    font: inherit;
    border: 0;
}
/* App Css */

body{
    font-family: "YekanBakh Bold";
    line-height: 1.5;
    font-size: 18px;
    background: linear-gradient(259.1deg, rgba(255, 157, 0, 0.8) 0%, rgba(255, 104, 34, 0.8) 100%);

}

.container{
    width: 1008px;
    margin: 100px auto;
    display: flex;
    column-gap: 84px;
}

.drink{
    background-color: #F6F6F6;
    border-radius: 300px;
    width: 280px;
    padding: 32px 0;
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
}

.drink__comment{
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid rgba(229,229,229,50%);
    border-radius: 50px 12px;
    width: 180px;
    box-shadow: 0 24px 50px -10px rgba(0,0,0,0.10);
    text-align: center;
    padding: 15px 16px;
    z-index: 2;
    top: 32px;
    right: 10px;
    transform: scale(0) translateX(0);
    transition: all 400ms cubic-bezier(1,0,0,1) 100ms;
    -webkit-border-radius: 50px 12px;
    -moz-border-radius: 50px 12px;
    -ms-border-radius: 50px 12px;
    -o-border-radius: 50px 12px;
    -webkit-transform: scale(0) translateX(0);
    -moz-transform: scale(0) translateX(0);
    -ms-transform: scale(0) translateX(0);
    -o-transform: scale(0) translateX(0);
    -webkit-transition: all 400ms cubic-bezier(1,0,0,1) 100ms;
    -moz-transition: all 400ms cubic-bezier(1,0,0,1) 100ms;
    -ms-transition: all 400ms cubic-bezier(1,0,0,1) 100ms;
    -o-transition: all 400ms cubic-bezier(1,0,0,1) 100ms;
}

.drink__comment h6{
    font-size: 16px;
    margin-bottom: 2px;
}

.drink__comment p{
    font-size: 14px;
    font-family: "YekanBakh Light";
}

.drink:hover .drink__comment{
    transform: scale(1) translateX(110px);
    -webkit-transform: scale(1) translateX(110px);
    -moz-transform: scale(1) translateX(110px);
    -ms-transform: scale(1) translateX(110px);
    -o-transform: scale(1) translateX(110px);
}

.drink:hover .drink__back-img--right{
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}

.drink:hover .drink__back-img--left{
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

.drink:hover .drink__image{
    transform: scale(1.2) rotate(-10deg);
    -webkit-transform: scale(1.2) rotate(-10deg);
    -moz-transform: scale(1.2) rotate(-10deg);
    -ms-transform: scale(1.2) rotate(-10deg);
    -o-transform: scale(1.2) rotate(-10deg);
}

.drink__back-img{
   position: absolute;
   transition: all 400ms cubic-bezier(0.68,-0.55,0.27,1.55);
}

.drink:hover .drink__back-img{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.drink__image{
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    transition: all 400ms cubic-bezier(1,0,0,1) 100ms;
    transition-delay: 100ms;
    -webkit-transition: all 400ms cubic-bezier(1,0,0,1) 100ms;
    -moz-transition: all 400ms cubic-bezier(1,0,0,1) 100ms;
    -ms-transition: all 400ms cubic-bezier(1,0,0,1) 100ms;
    -o-transition: all 400ms cubic-bezier(1,0,0,1) 100ms;
}

.drink__back-img--right{
    top: 64px;
    right: 20px;
}

.drink__back-img--left{
    left: 20px;
    bottom: 120px;
}

.drink__text-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 32px;
}

.drink__taste{
    font-family: "YekanBakh Light";
}